body{background-color: rgb(250,227,217)}
h1{
  color:red;
  text-align: center;
  background-color: rgb(97,192,191)
}
main{
  color:rgb(255, 116, 138);
  font-weight: bold;
  font-style: italic;
  background-color: rgb(187,222,214)
}

footer{
  color: rgb(42,49,139)
}

nav{text-align: center}

